Flask==3.0.0
aiohttp==3.9.1
uWSGI==2.0.21
requests==2.22.0
urllib3==1.25.3
gql==3.0.0
google-api-python-client==2.34.0
google-cloud-storage==1.44.0
google-analytics
google-analytics-data==0.14.2
google-api-core==2.10.2
google-auth==2.4.1
google-auth-httplib2>=0.0.1
google-auth-oauthlib==0.4.2
google-cloud==0.34.0
google-cloud-appengine-logging==1.1.0
google-cloud-audit-log==0.2.0
google-cloud-core==2.2.2
google-cloud-datastore==2.9.0
werkzeug==3.0.0
pytz==2023.3.post1